.header{
    height: 100vh;
    background-image:radial-gradient(transparent, rgba(0,0,0,337)), url(/assets/images/header-bg.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    text-transform: uppercase;
    &--nav{
        display: flex;
        justify-content: space-between;
        padding: 60px;
        align-items: center;
        
        div:first-child {
            display: flex;
            gap: 70px;

            ul{
                display: flex;
                gap:40px ;
                font-size: 14px;
                align-items: center;
            }

        }
    }

    &--content{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h1{
            font-size: 100px;
            line-height: 150px;
        }
        h2{
            font-size: 30px;
            line-height: 45px;
        }

        button{
            text-transform: uppercase;
            color: white;
            font-size: 17px;
            background-color: transparent;
            border: 1px solid white;
            padding: 18px 23px;
        }
    }
}